* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
}
html {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url("background.png");
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
#header1 {
    width: 100%;
    background-color: white;
}
#header1 img {
    width: auto;
    height: 200px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
}
#header2 {
    width: 100%;
    height: 450px;
}
#header2 img {
    width: 100%;
    height: 100%;
}
#header3 {
    background-color: #d9c2b0;
    color: #514f49;
    box-shadow: 0px 5px 5px black;
    height: 150px;
    width: 100%;
    margin-bottom: 0;
}
#header3 ul {
    display: flex;
    margin: auto;
    width: 80%;
    height: 100%;
}
#header3 button {
    background-color: transparent;
    border: 0px;
    color: #514f49;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: 30px;
    font-weight: bold;
}
#header3 button:hover {
    cursor: pointer;
}
#indexbody h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #514f49;
}
#indexbody ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-bottom: 100px;
}
#indexbody ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 600px;
    user-select: none;
    -webkit-user-drag: none;
}
#indexbody ul li:hover {
    cursor: pointer;
}
#indexbody ul li img {
    width: 500px;
    height: 500px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 100%;
}
#indexbody ul li img:hover {
    cursor: pointer;
}
#indexbody ul li label {
    color: #d9c2b0;
    font-size: 35px;
    user-select: none;
}
#indexbody ul li label:hover {
    cursor: pointer;
}
#decorbody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#decorbody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#decorbody h3 {
    color: #648396;
}
#decorbody ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
#decorbody ul li {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    margin-left: 2px;
    margin-right: 2px;
    user-select: none;
    -webkit-user-drag: none;
}
#decorbody ul li:hover {
    cursor: pointer;
}
#decorbody ul li img {
    width: 250px;
    height: 250px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0;
}
#decorbody ul li img:hover {
    cursor: pointer;
}
#decorbody ul li label {
    font-size: 35px;
    user-select: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#decorbody ul li label:hover {
    cursor: pointer;
}
#tabledecorbody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#tabledecorbody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#tabledecorbody h3 {
    color: #648396;
}
#tabledecorbody ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
#tabledecorbody ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    width: 300px;
    height: 400px;
    user-select: none;
    -webkit-user-drag: none;
}
#tabledecorbody ul li:hover {
    cursor: pointer;
}
#tabledecorbody ul li img {
    width: 300px;
    height: 300px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0;
}
#tabledecorbody ul li img:hover {
    cursor: pointer;
}
#tabledecorbody ul li label {
    color: #648396;
    font-size: 35px;
    user-select: none;
    font-weight: bold;
}
#tabledecorbody ul li label:hover {
    cursor: pointer;
}
#archesbody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#archesbody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#archesbody h3 {
    color: #648396;
}
#archesbody ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
#archesbody ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    width: 300px;
    height: 400px;
    user-select: none;
    -webkit-user-drag: none;
}
#archesbody ul li:hover {
    cursor: pointer;
}
#archesbody ul li img {
    width: 300px;
    height: 300px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0;
}
#archesbody ul li img:hover {
    cursor: pointer;
}
#archesbody ul li label {
    color: #648396;
    font-size: 35px;
    user-select: none;
    font-weight: bold;
}
#archesbody ul li label:hover {
    cursor: pointer;
}
#signsbody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#signsbody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#signsbody h3 {
    color: #648396;
}
#signsbody ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
#signsbody ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    width: 300px;
    height: 400px;
    user-select: none;
    -webkit-user-drag: none;
}
#signsbody ul li:hover {
    cursor: pointer;
}
#signsbody ul li img {
    width: 300px;
    height: 300px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0;
}
#signsbody ul li img:hover {
    cursor: pointer;
}
#signsbody ul li label {
    color: #648396;
    font-size: 35px;
    user-select: none;
    font-weight: bold;
}
#signsbody ul li label:hover {
    cursor: pointer;
}
#tablebody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#tablebody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#tablebody h3 {
    color: #648396;
}
#tablebody ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
#tablebody ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    width: 300px;
    height: 400px;
    user-select: none;
    -webkit-user-drag: none;
}
#tablebody ul li:hover {
    cursor: pointer;
}
#tablebody ul li img {
    width: 300px;
    height: 300px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0;
}
#tablebody ul li img:hover {
    cursor: pointer;
}
#tablebody ul li label {
    color: #648396;
    font-size: 35px;
    user-select: none;
    font-weight: bold;
}
#tablebody ul li label:hover {
    cursor: pointer;
}
#linenbody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#linenbody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#linenbody h3 {
    color: #648396;
}
#linenbody ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
#linenbody ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    width: 300px;
    height: 400px;
    user-select: none;
    -webkit-user-drag: none;
}
#linenbody ul li:hover {
    cursor: pointer;
}
#linenbody ul li img {
    width: 300px;
    height: 300px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0;
}
#linenbody ul li img:hover {
    cursor: pointer;
}
#linenbody ul li label {
    color: #648396;
    font-size: 35px;
    user-select: none;
    font-weight: bold;
}
#linenbody ul li label:hover {
    cursor: pointer;
}
#gallerybody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#gallerybody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#gallerybody h3 {
    color: #648396;
}
#gallerybody ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
#gallerybody ul img {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0;
}
#aboutmebody {
    position: relative;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
    margin-top: 0;
}
#aboutmebody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#aboutmebody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#aboutmebody h3 {
    color: #648396;
    margin-top: 50px;
    margin-bottom: 50px;
}
#aboutmebody2 {
    background-color: #648396;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 90px;
    padding-bottom: 100px;
}
#aboutmebody2 h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #d9c2b0;
}
#aboutmebody2 h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#aboutmebody2 h3 {
    color: #d9c2b0;
}
#contactbody h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #514f49;
}
#contactbody h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #d9c2b0;
}
#contactbody h3 {
    color: #648396;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contactform input{
    background: none;
    color: #658397;
    border: 1px solid #658397;
    padding: 20px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contactform input:hover{
    cursor: text;
}
#submitbutton {
    border: none;
    background-color: #524f4a;
    color: #d8c2af;
    width: 100px;
    font-weight: bold;
}
#submitbutton:hover{
    cursor: pointer;
}
#footer {
    color: black;
    background-color: #d9c2b0;
    padding: 0;
    margin: 0;
    clip-path: polygon(50% 0%, 0% 40%, 0% 100%, 100% 100%, 100% 40%);
}
#footer ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
#footer ul ul {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#footer ul img {
    width: 350px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
#footer ul img:hover {
    cursor: pointer;
}
#footer ul li {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer ul li:hover {
    cursor: default;
}
#footer ul ul li img {
    width: 80px;
    height: 80px;
    border-radius: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
#footer ul li img:hover {
    cursor: default;
}
#footer ul li label {
    color: black;
    font-size: 35px;
    font-weight: bold;
}
#fli2 {
    width: auto;
}
#fli1 {
    width: 500px;
}
#fli1 label {
    margin-right: 100px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
}
#fli1 label:hover{
    cursor: pointer;
}
#fli3 {
    width: 500px;
}
#fli3 label {
    margin: auto;
    margin-left: 25px;
    margin-top: 35px;
}
#fli3 label:hover{
    cursor: default;
}

#itemlist {
    border: 1px solid #658397;
    padding: 20px;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#itemlist img {
    width:80px;
    height: 80px;
    margin-left: 2px;
    margin-right: 2px;
}